.contenedor {
    width: 80%;
    margin: auto;

    .boxAddPartida {
        position: absolute;
        top: 80vh;
        left: 85vw;
        z-index: 1;
        
        .addPartida {
            position: fixed;
            width: 5em;
            height: 5em;
            border-radius: 100%;
        }
        .plusIcon{
            font-size: 2em;
        }
    }

    .marginTop {
        margin-top: 4em;
    }

}