<div class="contenedor mt-4 mb-4">

    <p class="h1 text-center mb-4 text-uppercase">El juego de la vida</p>

    <div *ngIf="components.length === 0" class="alert alert-success marginTop" role="alert">
        <h4 class="alert-heading">No tienes ninguna partida</h4>
        <p>Pulsa en el botón inferior para crear una nueva.</p>
    </div>

    <div class="boxAddPartida">
        <button (click)="addComponent()" class="btn btn-secondary addPartida"><i class="bi bi-plus-lg plusIcon"></i></button>
    </div>
    
    <ng-template #container>
    </ng-template>
    
</div>